<div class="row-fluid">
    <h2>{{{nickname}}}</h2> 
    <div class="span6 documentationBox">
 
        <p>
            {{{summary}}}

        </p> 

        {{#if description}}
        <h4>Implementation Notes</h4>
        <p class="markdown">{{{description}}}</p>
        {{/if}} 

        <p class="http_method">
            
            <strong>Http Request</strong><br >
            <span class="http_method_name">{{method}}</span>
            <span class=""> {{{basePath}}}{{path}}</span>
            
        </p>   
        {{#if parameters}}
        <h5>Arguments</h5>
        <table class='fullwidth'>
            <thead>
                <tr>
                    <th style="width: 100px; max-width: 100px">Parameter</th>
                    <th style="width: 310px; max-width: 310px">Required</th>
                    <th style="width: 200px; max-width: 200px">Description</th>
                    <th style="width: 100px; max-width: 100px">Parameter Type</th>
                    <th style="width: 220px; max-width: 230px">Data Type</th>

                </tr>
            </thead>
            <tbody class="operation-params">
 
            </tbody>
        </table>
        {{/if}}
        {{#if type}}
        <h5>Response Class (Status {{successCode}})</h5>
        <p><span class="model-signature" /></p>
        <br/>

        {{/if}}
        {{#if responseMessages}}
        <div style='margin:0;padding:0;display:inline'></div>
        <h5>Response Messages</h5>
        <table class='fullwidth'>
            <thead>
                <tr>
                    <th>HTTP Status Code</th>
                    <th>Reason</th>
                    <th>Response Model</th>
                </tr>
            </thead>
            <tbody class="operation-status">

            </tbody>
        </table>
        {{/if}}
    </div>
    <div class="span5 responseBox">

        <div class="signature-container">
            <!--            <div class="description">
                            {{{responseClassSignature}}}
                        </div>-->
            {{#if requestSampleJSON}}
            <div class="snippet">
                <p>Sample Request Model</p>
                <pre class="highlight"><code>{{requestSampleJSON}}</code></pre>

            </div>
            {{/if}}

            {{#if responseSampleJSON}}
            <div class="snippet">
                <p>Sample Response Model</p>
                <pre class="highlight"><code>{{responseSampleJSON}}</code></pre>

            </div>
            {{/if}} 
        </div>
    </div> 
</div>    
